@import "tailwindcss";
@tailwind utilities;
:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-box: box 1s linear 1;
  @keyframes box {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }

  --animate-scaleOut: scaleOut 0.5s linear 1 alternate forwards;
  @keyframes scaleOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }

  --animate-scaleIn: scaleIn 0.5s linear 1 alternate-reverse forwards;
  @keyframes scaleIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }

  --animate-m: m 1s ease-in-out 0.5s 1 normal forwards;
  @keyframes m {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  --animate-i: i 1s ease-in-out 0.7s 1 normal forwards;
  @keyframes i {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  --animate-h: h 1s ease-in-out 0.9s 1 normal forwards;
  @keyframes h {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  --animate-a: a 1s ease-in-out 1.1s 1 normal forwards;
  @keyframes a {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  --animate-i2: i2 1s ease-in-out 1.3s 1 normal forwards;
  @keyframes i2 {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
  --animate-t: t 1s ease-in-out 1.5s 1 normal forwards;
  @keyframes t {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
  --animate-r: r 1s ease-in-out 1.7s 1 normal forwards;
  @keyframes r {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
  --animate-i3: i3 1s ease-in-out 1.9s 1 normal forwards;
  @keyframes i3 {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
  --animate-f: f 1s ease-in-out 2.1s 1 normal forwards;
  @keyframes f {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
