@import "tailwindcss";
@tailwind utilities;
:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* @property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.button-TEMP::after,
.button-TEMP::before {
  --angleTEMP: 0deg;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.5rem;
  background: conic-gradient(from var(--angleTEMP), transparent 70%, blue);
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from {
    --angleTEMP: 0deg;
  }
  to {
    --angleTEMP: 360deg;
  }
}

.button-TEMP::before {
  filter: blur(1.5rem);
  opacity: 0.5;
} */

@keyframes skills {
  from {
    opacity: 0;
    transform: translate(0, 3vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0vh);
  }
}

@keyframes name {
  0% {
    opacity: 0;
    transform: translate(0, 5vh);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0vh);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0vh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0vh);
  }
}

@keyframes nameDiv {
  0% {
    transform: translate(0, 30vh);
  }
  25% {
    transform: translate(0, 25vh);
  }
  80% {
    transform: translate(0, 25vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-skills: skills 0.5s ease-in-out 0s 1 normal forwards;
  --animate-name: name 3s ease-in-out 0.5s 1 normal forwards;
  --animate-nameDiv: nameDiv 3s ease-in-out 0s 1 normal forwards;

  --animate-icon1: icon1 5s ease-in-out 2s infinite;
  @keyframes icon1 {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.3);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  --animate-icon2: icon2 5s ease-in-out 2.5s infinite;
  @keyframes icon2 {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.3);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  --animate-icon3: icon3 5s ease-in-out 3s infinite;
  @keyframes icon3 {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.3);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-fullStack: fullstack 0.5s ease-in-out 4s 1 normal forwards;
  @keyframes fullstack {
    from {
      opacity: 0;
      transform: translate(50vw, 0);
    }
    to {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  --animate-developer: developer 0.5s ease-in-out 4.2s 1 normal forwards;
  @keyframes developer {
    from {
      opacity: 0;
      transform: translate(-50vw, 0);
    }
    to {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  --animate-location: location 0.5s ease-in-out 4.4s 1 normal forwards;
  @keyframes location {
    from {
      opacity: 0;
      transform: translate(50vw, 0);
    }
    to {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  --animate-icons: icons 0.5s ease-in-out 4.6s 1 normal forwards;
  @keyframes icons {
    from {
      opacity: 0;
      transform: translate(-50vw, 0);
    }
    to {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  --animate-startAboutMe: aboutme 0.5s ease-in-out 4.8s 1 normal forwards;
  @keyframes aboutme {
    from {
      opacity: 0;
      transform: translate(50vw, 0);
    }

    to {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  --animate-buttons: buttons 0.5s ease-in-out 6s infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
